.wrap-cont
  .container
    = render "shared/settings_menu_container"
    .settings-content
      .boxed-group
        %h3 Create your own criteria
        .boxed-group-inner.boxed-profile.clearfix
          LALALA