/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
.sass-cache/
config/*.yml
public/assets/
*.rbc
capybara-*.html
.rspec
/log
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml
/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
config/google_analytics.yml
.DS_Store