- provide(:title, 'Server Error')
%body
  / This file lives in app/views/errors/404.haml
  %br
  %p.error= details[:name]
  %p= details[:message]
  %hr
  = image_tag("error-500.png", alt: "500", class: "error-500")  
  %hr
    
:css
  body {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }
  .error {
    color: #666;
    font-family: "Century Gothic";
    font-size: 2em;
    text-align: center;
  }